
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif
}

.teste {
  display: inline;
}

.listbookstitle {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}
.listbookstitle h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.listbookscontent {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelftitle {
  border-bottom: 1px solid #dedede;
}
.bookshelfbooks {
  text-align: center;
}


.booksgrid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.booksgrid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.booktitle,
.bookauthors {
  font-size: 0.8em;
}
.booktitle {
  margin-top: 10px;
}
.bookauthors {
  color: #999;
}

.booktop {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.bookshelfchanger {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('../icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.bookshelfchanger select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.bookcover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}
.bookcovertitle {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

.opensearch {
  position: fixed;
  right: 25px;
  bottom: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.opensearch a {
  text-decoration: none;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  color: white;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  background-size: 28px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  font-size: 2.5rem;
}

.searchbooksbar {
  position: relative;
  width: 100%;
  top: 0rem;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.searchbooksinputwrapper {
  flex: 1;
  background: white;
}
.searchbooksbar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.closesearch {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('../icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.searchbooksresults {
  padding: 80px 10px 20px;
}